:host {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 17px;
  transition: background-color var(--transition-duration);
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

:host:hover {
  background-color: rgba(201, 209, 209, 0.31);
}

:host:focus {
  outline: none;
}

:host:disabled {
  opacity: 0.6;
  cursor: not-allowed;

  &:hover {
    background-color: transparent;
  }
}

.icon-button-content {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.icon-button-text {
  font-size: 15px;
}

.icon-button-tooltip {
  position: absolute;
  bottom: -35px;
  z-index: 1;
  display: none;
  justify-content: center;
  padding: 5px 15px;
  border-radius: 6px;
  background-color: var(--outer-space-color);
  font-size: 13px;
  white-space: nowrap;
  box-shadow: var(--shadow-color) 0px 3px 8px;
  animation: fade-in 0.3s;

  &::after {
    position: absolute;
    top: -8px;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--outer-space-color) transparent;
  }
}

:host:not(:disabled):hover .icon-button-tooltip {
  display: flex;
}
