:host {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px 7px;
  font-size: 17px;
  transition: background-color 0.3s;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

:host:hover {
  background-color: rgba(201, 209, 209, 0.31);
}

:host:focus {
  outline: none;
}

:host:disabled {
  opacity: 0.6;
  cursor: not-allowed;

  &:hover {
    background-color: transparent;
  }
}

.icon-button-content {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.icon-button-text {
  font-size: 15px;
}
