<div class="header-section start">
  <i class="fa-solid fa-terminal logo"></i>
  <ng-content select="start"></ng-content>
</div>
<div class="header-section center">
  <span id="title"> Browser runner </span>
  <ng-content select="center"></ng-content>
</div>
<div class="header-section end">
  @if (apiService.isRequestPerformed()) {
  <button class="icon" type="button">
    <i class="fa-solid fa-circle-notch fa-spin"></i>
  </button>
  } @else {
  <button class="icon" type="button" (click)="onRunClick()">
    <i class="fa-solid fa-play"></i>
  </button>
  }
  <button class="icon" type="button" disabled>
    <i class="fa-solid fa-bug"></i>
  </button>
  <button class="icon" type="button" (click)="onCopyClick()">
    <i class="fa-solid fa-copy"></i>
  </button>
  <app-dropdown>
    <app-file-importer />
    <button class="icon" type="button" (click)="onExportClick()">
      <i class="fa-solid fa-file-arrow-down"></i>
    </button>
  </app-dropdown>
  <ng-content select="end"></ng-content>
</div>
