:host {
  padding: 0 25px 0;
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 17px;
  background-color: var(--secondary-color);
  box-shadow: var(--shadow-color) 0px 3px 8px;
}

.header-section {
  display: flex;
  align-items: center;
  flex: 1 1 0;
}

.start {
  justify-content: start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: end;
  gap: 5px;
}

.end-mobile {
  display: none;
}

.end-other {
  display: inherit;
  gap: inherit;
}

@media (max-width: 520px) {
  .end-mobile {
    display: block;
  }

  .end-other {
    display: none;
  }

  .center {
    flex-grow: 2;
  }
}
